flex-container {
    display: flex;
    flex-wrap: wrap; /* Change to column layout */
    gap: 20px; /* Space between items */
}

.flex-item {
  width: calc(
    25% - 20px
  ); /* diện tích tổng thể là 100% --> 4 ô 1 hàng thì mỗi ô là 25% và phải trừ đi khoảng cách gap ở trên */
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
}
.large {
  width: calc(50% - 20px);
}
